In [64]:
# Necessary library imports
import pandas as pd, numpy as np, matplotlib.pyplot as plt, time

%matplotlib inline

In [65]:
# Importing the data from file
parking_counts = pd.read_csv('data/Parking_Counts.csv')
restaurant_counts = pd.read_csv('data/Restaurant_Counts.csv')
stop_counts = pd.read_csv('data/Stop_Counts.csv')

In [75]:
# Fixing and cleaning the data to suit purpose
restaurant_counts.rename(columns={'lat':'latitude'}, inplace=True)
restaurant_counts.rename(columns={'lon':'longitude'}, inplace=True)
restaurant_counts.rename(columns={'AM early':'am_early'}, inplace=True)
restaurant_counts.rename(columns={'AM peak':'am_peak'}, inplace=True)
restaurant_counts.rename(columns={'Mid-day':'midday'}, inplace=True)
restaurant_counts.rename(columns={'PM peak':'pm_peak'}, inplace=True)
restaurant_counts.rename(columns={'PM late':'pm_late'}, inplace=True)
restaurant_counts.rename(columns={'Total Score':'total_count'}, inplace=True)
restaurant_counts.rename(columns={'Type of Place':'type'}, inplace=True)
restaurant_counts.rename(columns={'Unnamed: 0':'id'}, inplace=True)
parking_counts.rename(columns={'pole_id':'id'}, inplace=True)
stop_counts.rename(columns={'stop_id':'id'}, inplace=True)
parking_counts['type'] = 'parking'
stop_counts['type'] = 'transit'
location_counts = restaurant_counts.append(parking_counts)
# Setting a new index
#location_counts.index = idx # new ad hoc index
location_counts.index = range(len(location_counts)) # set with list
location_counts = location_counts.reset_index() # replace old w new
location_counts.rename(columns={'index':'idx'}, inplace= True)
location_counts.rename(columns={'id':'type_id'}, inplace= True)
del location_counts['Unnamed: 0']

location_counts['row'] = 0
location_counts['col'] = 0
#location_counts['longitude']

0      -117.096294
1      -117.096250
2      -117.126968
3      -117.096250
4      -117.157817
5      -117.107167
6      -117.150878
7      -117.156144
8      -117.075608
9      -117.160357
10     -117.991337
11     -116.933995
12     -117.119582
13     -117.346091
14     -117.167770
15     -117.160403
16     -117.216603
17     -117.027080
18     -117.162257
19     -117.250570
20     -117.209735
21     -117.196907
22     -117.221017
23     -117.127964
24     -117.078602
25     -117.233095
26     -117.211195
27     -117.248476
28     -117.139860
29     -117.250993
           ...
7773   -117.162015
7774   -117.161984
7775   -117.161963
7776   -117.161932
7777   -117.161904
7778   -117.161870
7779   -117.161842
7780   -117.161818
7781   -117.161780
7782   -117.161756
7783   -117.161725
7784   -117.161705
7785   -117.161666
7786   -117.161645
7787   -117.161614
7788   -117.161389
7789   -117.161069
7790   -117.160891
7791   -117.160796
7792   -117.160702
7793   -117.160591
7794   -117.160497
7795   -117.163743
7796   -117.163585
7797   -117.163430
7798   -117.163305
7799   -117.163266
7800   -117.163231
7801   -117.163193
7802   -117.163158
Name: longitude, dtype: float64

## Initializing the grid

In [67]:
# Getting the values of the grid
long_max = location_counts['longitude'].max()
long_min = location_counts['longitude'].min()
lat_max = location_counts['latitude'].max()
lat_min = location_counts['latitude'].min()
lat_dif = lat_max - lat_min
long_dif = long_max - long_min

NUMBER_BLOCKS_ROOT = 10 #this means 100 blocks 10x10
def set_gridspace(split_num):
    lat_gap = lat_dif / split_num
    long_gap = long_dif / split_num
set_gridspace(NUMBER_BLOCKS_ROOT)
long_min, long_max, lat_dif, long_dif, lat_gap, long_gap

(-180.0,
 -116.7536147,
 2.1803627000000034,
 63.2463853,
 0.21803627000000034,
 6.3246385299999996)

## Algorithm 1

Issue with the labeling of rows and cols, I believe its a float calculation problem

In [69]:
# Creating a classifier function which runs through values in dataset to get values
def classify_blocks(s):
    location_counts.loc[location_counts['idx'] == s,'row'] =  (location_counts.loc[location_counts['idx'] == s,'latitude'] - lat_min) // lat_gap
    location_counts.loc[location_counts['idx'] == s,'col'] =  (location_counts.loc[location_counts['idx'] == s,'longitude'] - long_min) // long_gap

location_counts['idx'].apply(classify_blocks)

location_counts.loc[location_counts['row'] == -0.0, 'row'] = 10.0
location_counts.loc[location_counts['col'] == -0.0, 'col'] = 10.0
#location_counts.to_csv('Label_issue.csv')
location_counts

10.0

## Algorithm 2

Issues with iterating through the dataframe to get and set values

In [27]:
# Creating the grid with row, col and lat, lon pair
grid = []
for i in range(NUMBER_BLOCKS_ROOT):
    for j in range(NUMBER_BLOCKS_ROOT):
        grid.append([i, j, (lat_min+ i*lat_gap), (long_min + j*long_gap)])    
grid = pd.DataFrame(grid)
grid.columns = ['row','col','lat','lon']
grid

    row  col        lat         lon
0     0    0  32.100000 -180.000000
1     0    1  32.100000 -173.675361
2     0    2  32.100000 -167.350723
3     0    3  32.100000 -161.026084
4     0    4  32.100000 -154.701446
5     0    5  32.100000 -148.376807
6     0    6  32.100000 -142.052169
7     0    7  32.100000 -135.727530
8     0    8  32.100000 -129.402892
9     0    9  32.100000 -123.078253
10    1    0  32.318036 -180.000000
11    1    1  32.318036 -173.675361
12    1    2  32.318036 -167.350723
13    1    3  32.318036 -161.026084
14    1    4  32.318036 -154.701446
15    1    5  32.318036 -148.376807
16    1    6  32.318036 -142.052169
17    1    7  32.318036 -135.727530
18    1    8  32.318036 -129.402892
19    1    9  32.318036 -123.078253
20    2    0  32.536073 -180.000000
21    2    1  32.536073 -173.675361
22    2    2  32.536073 -167.350723
23    2    3  32.536073 -161.026084
24    2    4  32.536073 -154.701446
25    2    5  32.536073 -148.376807
26    2    6  32.536073 -142.052169
27    2    7  32.536073 -135.727530
28    2    8  32.536073 -129.402892
29    2    9  32.536073 -123.078253
..  ...  ...        ...         ...
70    7    0  33.626254 -180.000000
71    7    1  33.626254 -173.675361
72    7    2  33.626254 -167.350723
73    7    3  33.626254 -161.026084
74    7    4  33.626254 -154.701446
75    7    5  33.626254 -148.376807
76    7    6  33.626254 -142.052169
77    7    7  33.626254 -135.727530
78    7    8  33.626254 -129.402892
79    7    9  33.626254 -123.078253
80    8    0  33.844290 -180.000000
81    8    1  33.844290 -173.675361
82    8    2  33.844290 -167.350723
83    8    3  33.844290 -161.026084
84    8    4  33.844290 -154.701446
85    8    5  33.844290 -148.376807
86    8    6  33.844290 -142.052169
87    8    7  33.844290 -135.727530
88    8    8  33.844290 -129.402892
89    8    9  33.844290 -123.078253
90    9    0  34.062326 -180.000000
91    9    1  34.062326 -173.675361
92    9    2  34.062326 -167.350723
93    9    3  34.062326 -161.026084
94    9    4  34.062326 -154.701446
95    9    5  34.062326 -148.376807
96    9    6  34.062326 -142.052169
97    9    7  34.062326 -135.727530
98    9    8  34.062326 -129.402892
99    9    9  34.062326 -123.078253

[100 rows x 4 columns]

In [43]:
# Initializing dataframes for getting values for latitudes and longitudes in the dataframe
grid_lat = grid[['lat']].drop_duplicates().reset_index().sort_index(ascending=True)
del grid_lat['index']
grid_lon = grid[['lon']].drop_duplicates().reset_index().sort_index(ascending=True)
del grid_lon['index']
#grid_lat
grid_lon

          lon
0 -180.000000
1 -173.675361
2 -167.350723
3 -161.026084
4 -154.701446
5 -148.376807
6 -142.052169
7 -135.727530
8 -129.402892
9 -123.078253

# Implementation 1 for get_row using pandas dataframe

In [51]:
#Implentation #1 using pandas dataframe
def get_row(ilat):
    row_i = grid_lat[grid_lat['lat'] > ilat].idxmin()
    #row_i = np.where(grid_lat>ilat)[0].min()
    #row_i = np.where((grid_lat['lat'] > ilat))[0][0]
    return row_i

def get_col(ilon):
    #col_i = np.where((grid_lon['lon'] > ilon))[0][0]
    col_i = grid_lon[grid_lon['lon'] > ilon].idxmin()
    #col_i = np.where(grid_cols>ilon)[0].min()
    return col_i

#testing out function
# row 7(lat 8) min value = 33.626254
print get_row(33.626255)
#testing out function get_col
# col 7(lon 8) min value = -135.727530
print get_col(-135.727529)

lat    8
dtype: int64
lon    8
dtype: int64

# Implementation 2 for get_row using np.where() and np.min()

In [53]:
#Alternate implementation using np.where() and min()
def get_row_2(ilat):
    #row_i = grid_lat[grid_lat['lat'] > ilat].idxmin()
    row_i = np.where(grid_lat>ilat)[0].min()
    #row_i = np.where((grid_lat['lat'] > ilat))[0][0]
    return row_i

def get_col_2(ilon):
    #col_i = np.where((grid_lon['lon'] > ilon))[0][0]
    #col_i = grid_lon[grid_lon['lon'] > ilon].idxmin()
    col_i = np.where(grid_lon>ilon)[0].min()
    return col_i

#testing out function get_row
# row 7 min value = 33.626254
print get_row_2(33.626255)
#testing out function get_col
# col 7(lon 8) min value = -135.727530
print get_col_2(-135.727529)

8
8

## Having issues here mainly, iterating through the dataframe to set values

In [62]:
#Dunno how to iterate over dataframe without indexing error
for i in range(len(location_counts)):
    lat_i = location_counts.loc[i, 'latitude']
    lon_i = location_counts.loc[i, 'longitude']
    
    # Gets all the values that satisfy
    #print lat_i
    #print lon_i
    
    # This prints out all the correct rows till the end where i get indexing error
    #print get_row(lat_i)
    print get_row_2(lat_i)
    
    # Gets values of row and col
    #row_i = get_row(lat_i)
    #row_i = get_row_2(lat_i)
    
    #col_i = get_col(lat_i)
    #col_i = get_col_2(lat_i)
    
    # Sets the row values based on row_i
    #location_counts.set_value(i, 'row', row_i)
    #location_counts.loc[i,'row'] = row_i
    
    # Sets the col values based on col_i
    #location_counts.set_value(i, 'row', row_i)
    #location_counts.loc[i,'row'] = row_i
    
    
    #FAILED ATTEMPTS
    #row_i = row_i.index[0]
    #col_i = grid_lon[grid_lon['lon'] > lon_i]
    #col_i = col_i.iloc[[0]]
    #col_i = col_i.index
    #print row_i[0], lat_i
    
    #location_counts.loc[i,'col'] = get_col(lon_i)
    #print row_i['index'][0]
    #print grid_lon['lon'][0]
    
    #col_i = grid_lon[(grid_lon['lon'] > lon_i)].reset_index()
    #location_counts.loc[i,'row'] = row_i['index'][0]
    #location_counts.loc[i,'col'] = col_i['index'][0]
#location_counts

4
3
3
3
3
3
4
4
5
3
8
4
4
9
3
3
4
3
3
3
4
3
4
4
5
4
3
4
3
6
3
3
4
3
4
3
3
3
3
3
4
5
3
4
4
3
3
3
3
4
3
4
5
3
3
3
4
3
4
3
3
3
5
4
3
4
4
3
4
3
4
4
4
3
3
4
4
4
5
4
3
4
3
3
4
4
3
3
4
4
4
3
4
4
3
5
4
4
8
3
4
4
3
3
3
3
3
4
4
3
4
3
4
3
4
3
3
5
3
4
4
3
4
3
4
4
3
4
5
4
4
3
3
3
3
3
3
3
3
3
3
3
4
4
5
3
3
3
4
4
3
3
4
3
3
4
3
5
3
4
3
3
3
3
4
4
4
3
4
4
4
4
3
3
3
4
4
4
4
3
3
4
3
5
7
4
3
4
4
3
4
4
3
4
4
3
4
4
5
3
3
3
3
3
4
3
3
3
3
4
3
4
3
4
4
3
3
3
4
4
4
5
3
4
4
3
3
4
3
3
3
3
3
4
4
4
4
4
3
3
4
4
3
4
4
3
4
3
3
3
4
4
4
3
4
4
4
4
4
4
4
5
3
3
4
3
4
5
4
4
5
4
3
4
4
3
4
3
3
4
3
4
5
3
5
4
4
5
4
3
5
4
4
3
3
4
3
4
4
4
4
3
4
3
3
3
4
4
3
3
4
4
4
4
4
4
3
3
3
4
3
3
3
3
3
3
4
5
3
4
4
3
4
5
4
4
4
4
3
3
4
4
3
3
3
3
4
3
4
3
5
4
4
4
4
4
4
4
3
4
3
3
3
4
4
3
4
4
4
3
4
3
4
4
4
4
3
4
3
4
4
4
3
3
3
3
3
3
4
3
4
3
4
4
4
3
3
4
3
3
3
4
3
4
3
3
4
3
3
4
3
3
4
3
3
5
3
3
4
4
3
4
4
3
3
4
3
3
4
3
4
4
4
4
4
3
4
4
3
4
3
5
4
3
4
5
3
3
5
4
3
4
4
3
4
3
3
4
4
4
4
5

ValueError: zero-size array to reduction operation minimum which has no identity

In [61]:
def classify_blocks(s):
    lat_i = location_counts.loc[location_counts['idx'] == s,'latitude']
    lon_i = location_counts.loc[location_counts['idx'] == s,'longitude']
    #col_i = grid_cols[grid_cols['lon'] > lon_i].idxmin()
    #print row_i, col_i
    location_counts.loc[location_counts['idx'] == s,'row'] = get_row(lat_i)
    location_counts.loc[location_counts['idx'] == s,'col'] = get_col(lon_i)

#location_counts['idx'].apply(classify_blocks)
#location_counts

Continuing with the analysis for getting the next part which is finding outliers for grid location.

In [63]:
#Initializing random grid values
test = location_counts[['total_count','row','col']]
test['row'] = np.random.randint(0,high=10,size=len(test))
#test['row']

test['col'] = np.random.randint(0,high=10,size=len(test))
test

/Users/raghav/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/raghav/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      total_count  row  col
0       70.000000    2    2
1       70.000000    7    2
2      119.000000    7    3
3       70.000000    4    5
4       70.000000    5    6
5      119.000000    3    0
6       70.000000    1    8
7      119.000000    6    2
8       93.000000    6    5
9      119.000000    4    2
10      93.000000    6    8
11      93.000000    4    0
12     119.000000    1    1
13     119.000000    1    3
14      70.000000    1    6
15      70.000000    2    6
16     119.000000    4    5
17     119.000000    8    3
18     119.000000    5    2
19      70.000000    6    1
20      70.000000    8    2
21     119.000000    7    4
22      93.000000    2    8
23      93.000000    7    5
24      93.000000    3    3
25     119.000000    7    3
26      70.000000    5    0
27     119.000000    5    2
28     119.000000    0    7
29      70.000000    7    1
...           ...  ...  ...
7773     3.615845    3    7
7774     4.075000    5    6
7775     4.511197    7    5
7776     5.842746    9    3
7777     7.403873    8    1
7778     6.485563    3    8
7779     8.333662    5    7
7780     6.187113    4    6
7781     7.312042    9    0
7782     6.129718    1    0
7783     6.921761    8    8
7784     7.036549    8    5
7785     7.759718    0    8
7786     6.588873    7    9
7787     6.749577    5    3
7788     8.678028    5    3
7789     5.418028    4    4
7790     9.297887    4    4
7791     8.827254    6    5
7792     8.976479    3    4
7793     9.998099    8    3
7794     8.976479    0    8
7795    11.341127    1    1
7796     8.850211    0    0
7797     7.059507    2    1
7798     9.160141    4    6
7799     7.449789    2    2
7800     7.931901    6    8
7801    10.055493    0    3
7802     7.277606    0    2

[7803 rows x 3 columns]

In [16]:
test_totals = test.groupby(['row','col']).sum()
test_counts = test.groupby([])
test

         total_count
row col
0   0    3130.388310
    1    4451.917887
    2    2964.799225
    3    2117.089296
    4    3648.892183
    5    3335.824507
    6    3370.822746
    7    2722.143451
    8    3593.076056
    9    3278.868944
1   0    3780.223592
    1    3214.303944
    2    2694.374085
    3    4530.233028
    4    3174.467113
    5    3724.883873
    6    3751.218310
    7    2623.777113
    8    2922.952042
    9    3928.564366
2   0    3872.555211
    1    3939.410423
    2    3539.439225
    3    3940.677465
    4    3094.760352
    5    3682.381408
    6    3004.670141
    7    3384.347606
    8    3171.416901
    9    3376.702958
...              ...
7   0    2800.321690
    1    3392.379507
    2    3381.471972
    3    3283.164648
    4    3219.087113
    5    3433.147042
    6    3025.835282
    7    3424.321479
    8    3125.536479
    9    3645.976197
8   0    3512.488028
    1    2283.127394
    2    3797.716127
    3    3244.052394
    4    2959.196620
    5    2980.855775
    6    2598.259296
    7    3112.104577
    8    3246.762817
    9    2777.175845
9   0    2933.063662
    1    3454.882042
    2    3511.211408
    3    2445.092817
    4    4087.397394
    5    3922.507817
    6    2507.162394
    7    3277.037817
    8    3578.627746
    9    2618.551056

[100 rows x 1 columns]

In [17]:
#Computes the mean for each grid position and gives the grid which seem to have outliers.
mean = test['total_count'].mean()
#print test['total_count']
std = np.std(test['total_count'])
#print std
std_test = test[(test['total_count'] >= (mean+2*std)) | (test['total_count'] <= (mean-2*std))]
std_test

         total_count
row col
0   1    4451.917887
    3    2117.089296
1   3    4530.233028
5   7    4485.772746
6   0    4967.498028